<div class='jumbotron col-md-12' ng-controller='SequenceFileFormCtrl' >
  <h1 >Sequence</h1>
  <p>
    <input type="hidden" ng-init="inputType ='sequenceFile'" ng-model="inputType" />
    
    <div class="col-md-5">
      <h3>1. Upload Files</h3>
      <div class="form-inline">
        <div   class="file-upload btn btn-default" ng-class='{"fa fa-check": refFile}' ng-disabled="refFile">
            <span>{{!refFile ? "Reference file (.fa/.fasta)" : ''}}</span>
            <input nv-file-select="{id:'refFile'}" uploader="uploader" type="file" ng-model='refFile' class='upload'/>
        </div>
          <p class="help-block">Upload a reference FASTA genome</p>
      </div>
      <div class='form-inline'>
        <div class="file-upload btn btn-default" ng-class='{"fa fa-check": inFile}' ng-disabled="inFile">
            <span>{{!inFile ? "Input sequence (.fa/.fasta)" : ''}}</span>
            <input nv-file-select="{id:'inFile'}" uploader="uploader" type="file" 
                ng-model='inFile' name="inFile" class='upload' />  
        </div>

        <p class="help-block">Upload the FASTA file you'd like to annotate</p>
      </div>
      <div class="form-inline">
        <div class="file-upload btn btn-default" ng-class='{"fa fa-check": bedFile}' ng-disabled="bedFile">
            <span>{{!bedFile ? "Genomic Positions File (.bed)" : ''}}</span>
            <input nv-file-select="{id:'bedFile'}" uploader="uploader"
                ng-model='bedFile' type="file"  name="genomic-positions-file" class='upload'/>
        </div>

           <p class="help-block">Upload the corresponding BED file</p>
      </div>
    </div>

    <div ng-show="uploader.queue.length && (!refFile || !inFile || !bedFile)" class="col-md-7" >

            <h3>Queue</h3>
            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th ng-show="uploader.isHTML5">Size</th>
                        <th ng-show="uploader.isHTML5">Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td><strong class='upload-file-name'>{{ item.file.name }}</strong></td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-hide='item.isUploaded' 
                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span>
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-hide='item.isUploaded' ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        
        </div>
       
    <div class='col-md-12' >  
      <h3>2. Choose Genome and Submit</h3>
      <form role="form" name='seqantForm' ng-model='seqantForm' class='form-inline'>
        <div class='form-inline'>
          <div class="form-group">
            <select chosen data-placeholder="Choose the species"
                allow-single-deselect="true" 
                ng-model='selectedGenome' width ='false'
                ng-options='object.name for object in genomes'
                ng-required='true'  ng-selected='selected'
            >
              <option value="">Species</option>
          </select>
          </div>

           <div class="form-group">
            <select name='assembly' chosen data-placeholder="Choose the assembly"
                disable-search="true" allow-single-deselect="true"
                width ='false' ng-model='selectedAssembly' 
                ng-options='object.name for object in selectedGenome.assemblies' 
                ng-required='true' ng-selected='selected'
            >
              <option value="">Assembly</option>
          </select>
          </div>
           <p class="help-block">Choose your species and assembly.</p>
        </div>
          <div ng-disabled="selectedAssembly == null" class="checkbox ">
            
              <input ng-disabled="selectedAssembly == null"  type="checkbox" name='phastConsScore' ng-model='phastConsScoreOptionChosen'> 
            <label>PhastCons Score (Optional)</label>
          </div>
          <div ng-show="phastConsScoreOptionChosen" class="form-inline ng-hide" >
            <div ng-repeat="option in phastConsOptions">
                Value: @{{option.name}}
                <input ng-model="option.dfault">                         
            </div>
          </div>
          <div class="checkbox ">
            
              <input ng-disabled="selectedAssembly == null"  type="checkbox" name='phastConsScore' ng-model='phylopOptionChosen'> 
            <label>PhyloP Score (Optional)</label>
          </div>
          <div ng-show="phylopOptionChosen" class="form-inline ng-hide">
            <div ng-repeat="option in phylopOptions">
                Value: {{option.name}}
                <input ng-model="option.default">                         
            </div>
          </div>
          <div>
          <input ng-disabled="seqantForm.$invalid || !inFile || !refFile || !bedFile" type='submit' class='btn btn-success' value='Submit' ng-click="open()"></input>
         </div>
      </form> 
    </div>

  </p>
  

  <div ng-show='annotationStarted' class='loading'>
    <img src = 'images/ajax-loader-big.gif'/>
    <div class='loading-text'>Fetching Annotation</div>
  </div>
</div>